body {
  height: 100vh;
}
.app {
  height: 100%;
  padding: 20px;
  .container {
    position: relative;
    height: 100%;
    background-color: pink;
  }
  .snake-body {
    display: inline-block;
  }
  .snake-body-item {
    position: absolute;
    top: 0;
    left: 0;
    &:last-child {
      border-left: 1px solid #fff;
    }
    width: 20px;
    height: 20px;
    background-color: blue;
    display: inline-block;
    &.head {
      background-color: red;
    }
  }
}
